input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo{
  width: 8rem;
}

.container{
     height: 100vh;
     flex-direction: column;
}